spring:
  data:
    redis:
      repositories:
        enabled: false
  redis:
    host: YOUR_REDIS_HOST
    port: 6379
    password: your_password
    database: 0
    timeout: 10s
    lettuce:
      shutdown-timeout: 3s
      pool:
        min-idle: 2
        max-idle: 100
        max-active: 8
        max-wait: -1ms
